<div class="mission-values">
<div class="home" routerLink="/home">HOME PAGE</div>
<div class="mission-header">
    What is RE:SET Festival?
</div>
<div class="mission-text">
    Your RE:SET is up to a week long - you choose. We envision you returning home - relaxed and with expanded horizon. 
    <br/><br/>
    At our core is <span class="bold">music</span> – house music. Alongside a wide range of electronic music, outstanding singer & songwriter as well as bands. 
    <br/><br/>
    Complemented by <span class="bold">fashion</span>  – individual designer from Berlin, Paris, and Tunis that create stunning clothing, to us: it’s art that deserves a stage. Hence, RE:SET will host a catwalk showcasing what the designer’s craft on Saturday.  
    <br/><br/>
    A journey to Tunisia is an <span class="bold">experience</span>  itself – a country with a deep history and people welcoming us with open arms. Therefore, we offer a selection of trips to allow you to explore the country as much as possible.
    <br/><br/>
    We are extremely excited to see you beautiful people joining RE:SET. Exchanging your world during a wide range of <span class="bold">workshops</span>   learning from each other.
    <br/><br/>
</div>
<div class="mission-header">
    OUR VALUES
</div>
<p class="mission-title">
    Love & peace
</p>
<p class="mission-text">
    Whatever we do, we do it with compassion, the most elegant and kindest way. We appreciate the love that is shared with us and give back how we would like to be treated. We level each other up and whilst doing so create a space of peace and tranquility together.
</p>
<p class="mission-title">
    Friends & family
</p>
<p class="mission-text">
    We are friends, we are family. Sisters and brothers of other mothers and fathers. Everyone is welcome to bring their closest, most loved ones to RE:SET. We create moments, where new friends are arm in arm, closing new bonds for life.
</p>
<p class="mission-title">
    Expression & acceptance
</p>
<p class="mission-text">
    We create a space of harmony and equality. Everyone is invited to explore a space out of their comfort zone in expressing, testing, or experiencing something new. We don’t judge, we support the adventure of personal and mental growth.
</p>

<p class="mission-title">
    Tolerance & respect
</p>
<p class="mission-text">
    We as a community have no tolerance for violence, racism, and inappropriate behavior in any way. We look after each other and are making sure everyone is at their best. We approach each other respectful.
</p>

<p class="mission-title">
    Involvement & appreciation
</p>
<p class="mission-text">
    Everyone is welcome to bring their very special talent to play in a save environment. We appreciate every moment and every little invest of everyone making RE:SET a magical space. A love-filled smile, a well phrased thank you or a heartfelt compliment to the person next to you is exactly what can make everyone's moment even more astonishing - at RE:SET, and anywhere in life.
</p>

<p class="mission-title">
    Environment & sustainability
</p>
<p class="mission-text">
    We are grateful for the opportunities we have in our life, being able to live in harmony and with access to all necessities at any moment in time. To be sustaining this, we look after the environment and are leaving no trace.
</p>

<p class="mission-title">
    Self-care & awareness
</p>
<p class="mission-text">
    We celebrate life and the possibility of coming together healthy in this beautiful life. To be keeping this up, we take care of ourselves and others. If somebody does not feel well, we support and give that person a save harbor. Awareness is key in this world.
</p>


<p class="mission-title">
    Fun & hedonism
</p>
<p class="mission-text">
    After alll, we come together to have fun! Sending it together, taking ourselves easy, and enjoying the craziness of our life’s. Let’s connect in the moment and escape the strictness and stiffness that sometimes is creeping close to us. Law of attraction will manage – might start manifesting already.
    <br/><br/>
</p>

<div class="mission-header">
    What the word RE:SET stands for?
</div>

<p class="mission-title">
    Reconnect & Recharge
</p>
<p class="mission-text">
    “Rediscover yourself through music, art, and unforgettable experiences.”
</p>

<p class="mission-title">
    Escape & Explore
</p>
<p class="mission-text">
    “Step away from the ordinary and immerse yourself in a vibrant surrounding.”
</p>

<p class="mission-title">
    Sounds & Spectacles
</p>
<p class="mission-text">
    “Experience breathtaking acts and captivate visuals like never before.”
</p>

<p class="mission-title">
    Energy & Emotions
</p>
<p class="mission-text">
    “Feel the pulse of the festival sparking joy and unforgettable memories.”
</p>

<p class="mission-title">
    Togetherness & Transformation
</p>
<p class="mission-text">
    “Join a community of dreamers and let the festival reset your spirit.”
</p>
</div>
