<div class="wellness">
    <div class="home" routerLink="/home">
        [ HOME ]
    </div>
    <div class="wellness-title">
        About our Wellness
    </div>
    Step into a world of tranquility where every sense is pampered and every worry melts away. At a wellness hotel, your journey to rejuvenation is as delightful as it is diverse:<br/><br/>
    <ul>
        <li>
            Indulge in luxurious facials, from gemstone-infused collagen masks to Vitamin C radiance treatments, each designed to leave your skin glowing and refreshed.
        </li>
        <li>
            Melt into bliss with massages tailored to your needs-whether it’s a classic therapeutic massage, a soothing aromatherapy ritual, or a deeply relaxing hot stone massage where warmth and touch combine for pure serenity.
        </li>
        <li>
            Experience the magic of Himalayan salt stone therapy, where gently heated stones detoxify and restore, infusing your body with minerals and a sense of calm.
        </li>
        <li>
            Treat your scalp and hair to nourishing warm oil treatments, cocooning you in comfort and leaving your hair silky and your mind at ease.
        </li>
        <li>
            Embark on sensorial journeys with body scrubs, exfoliations, and wraps-think healing salt and sugar scrubs or hydrating shea butter wraps that leave your skin baby-soft and your spirit renewed.
        </li>
        <li>
            Surrender to the ancient art of thalasso, where marine botanicals and seawater therapies revitalize and invigorate, harnessing the power of the ocean for your well-being.
        </li>
        <li>
            Share the experience with a loved one in a synchronized couples’ massage, or celebrate milestones with champagne body scrubs, chocolate wraps, and a touch of decadence.
        </li>
        <li>
            Complete your wellness escape with a dip in mineral-rich pools, invigorating hot-and-cold therapy, or a moment of stillness in a tranquil relaxation lounge.
        </li>
        <li>
            From head to toe, every treatment is a charming invitation to unwind, glow, and rediscover the joy of feeling your very best.
        </li>
    </ul>
</div>
