#terms{
    color: black;
    padding: 32px;
}

.home{
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.home:hover{
    text-decoration: underline;
}


h1 {
    padding-bottom: 10px;
}

h2 {
    margin-top: 25px;
}

p {
    margin-bottom: 15px;
}
ul {
    margin-bottom: 15px;
    padding-left: 20px;
}
.section {
    margin-bottom: 30px;
}

.highlight {
    padding: 15px;

    margin: 20px 0;
}