<div id="terms">
    <div class="home" routerLink="/home">
        [ HOME ]
    </div>
    <h1>RE:SET Festival General Terms and Conditions</h1>
    
    <div class="section">
        <h2>Scope of application</h2>
        <p>These General Terms and Conditions govern the relationship between FRIENDSsquare UG ("Organizer") and the contractual partner ("Visitor") who participates in events or other offers of FRIENDSsquare UG. By purchasing an admission ticket, the Visitor agrees to the following General Terms and Conditions and the data protection provisions. In addition, the house rules, the current notices and the instructions of the security staff on site, as well as the current information on the homepage of the organizer (<a href="http://www.reset-festival.de">www.reset-festival.de</a>) apply.</p>
    </div>

    <div class="section">
        <h2>Formation of the contract</h2>
        <p>By purchasing a ticket, the ticket purchaser enters into an event contract with FRENDSsquare UG.</p>
        <p>The purchaser of the ticket, who is not the sole participant, is responsible for ensuring that the visitor who receives the ticket from him/her is aware of these GTC and accepts them.</p>
        <p>The commercial resale of a purchased admission ticket or guest list ticket to third parties is prohibited.</p>
        <p>This does not apply to the passing on of admission tickets in the course of purchase among friends or acquaintances with the purpose of attending the event together. By passing on the admission ticket to a third party, the third party enters into the event contract, assuming all rights and obligations, and recognizes these GTC.</p>
        <p>The use of admission tickets for raffle purposes and/or for holding competitions is expressly prohibited without the explicit prior written consent of the organizer. Any violation of these conditions will result in the loss of admission authorization without compensation.</p>
    </div>

    <div class="section">
        <h2>Tickets</h2>
        <p>Tickets can only be purchased via our ticket store at <a href="http://www.resetfestival.de">www.resetfestival.de</a>. Only tickets purchased via this ticket store are valid.</p>
    </div>

    <div class="section">
        <h2>Exchange, right of withdrawal</h2>
        <p>The exchange or cancellation of ticket purchases is excluded in accordance with Section 312g (2) No. 9 BGB.</p>
    </div>

    <div class="section">
        <h2>Participation fees/entrance fee</h2>
        <p>If a participation fee is charged for the respective event, this is shown in our price list. The entry fee does not include the cost of overnight accommodation or the cost of travel to and from the event. Participation fees are due and payable immediately, but in any case before the start of the event, unless a different payment term has been expressly agreed.</p>
        <p>If individual services are not used by the visitor through no fault of the organizer and outside of force majeure, the agreed participation fees and any additional agreed fees and costs shall nevertheless be due.</p>
    </div>

    <div class="section">
        <h2>General provisions</h2>
        
        <h3>Event</h3>
        <p>The festival grounds include the areas that are used for the official stage program as well as adjacent areas that are used e.g. for paths, supporting program, workshops, food court and are not intended for camping or parking. The festival area is surrounded by a fence. The camping area includes all areas including the paths that are intended for camping and car camping. Car camping is only permitted with an appropriate car camping ticket. The camping area is surrounded by a fence.</p>
        <p>The parking lot includes all areas intended for parking cars. Use of the parking lot is only permitted with a corresponding parking lot ticket.</p>
        
        <h3>Admission / access authorization</h3>
        <p>Admission to the festival is only permitted with a valid ticket. If necessary, tickets must be personalized. Personalization must be carried out via a website provided by the organizer and must be done via this website. Once the ticket has been validated, it is no longer transferable. If the ticket is lost, there is no entitlement to a replacement.</p>
        <p>Access to the car camping area, as well as camping with a car on it, is only permitted with a valid car camping ticket in conjunction with a valid entrance ticket.</p>
        <p>Children and young people under the age of 18 are not permitted to enter or remain on the entire festival grounds, including the camping and parking areas, even if accompanied by a parent or legal guardian.</p>
        <p>If the visitor violates the provisions of the GTC, the house rules or our code of conduct, the organizer or a person appointed by the organizer is entitled to expel this visitor from the festival grounds, in serious cases even without any warning, and to exclude him/her permanently from the event. In this case, the admission ticket and the festival wristband lose their validity. A claim for re-admission or reimbursement of the admission price as well as claims for damages against the organizer are excluded. Furthermore, the organizer reserves the right to prosecute the visitor in particularly serious cases and to press charges.</p>
        <p>Animals, especially dogs, are not permitted on the festival grounds and camping site.</p>
        <p>The organizer reserves the right to refuse admission to visitors for good cause. In this case, the visitor shall only be entitled to a refund of the nominal value of the admission ticket, unless the refusal of admission for good cause is due to the person of the visitor. Any further claim for damages is excluded.</p>
        
        <div class="highlight">
            <p>The following objects and motifs are prohibited at the RE:SET Festival:</p>
            <ul>
                <li>Weapons of any kind according to §42 German Law, liquid barbecue lighters, fireworks, pyrotechnics, sky lanterns, explosives, power generators, music systems, megaphones, bulky waste, animals and confetti</li>
                <li>unconstitutional flags, banners, imprints, stickers, patches or the like</li>
                <li>right-wing extremist views or symbols in the head, on the skin, clothing or other objects....</li>
            </ul>
            <p>The organizer reserves the right to refuse entry to persons who wish to enter the festival with obviously inhuman, racist, homophobic clothing and attitudes. A return and/or refund of the admission ticket/ticket is excluded in such a case. Any further claims for damages are excluded, unless the organizer acts with gross negligence or intent.</p>
        </div>
        
        <p>The organizer reserves the right to confiscate or destroy prohibited or limited items and/or goods (defined by notices on site/the house rules) or to keep them for the duration of the festival before access to the event site can be granted. The instructions of the staff on site must be followed. The notices, access regulations and instructions on site must be followed.</p>
        
        <h3>Entering and leaving the festival site</h3>
        <p>When entering the festival site for the first time, tickets are exchanged for a visitor wristband in the entrance area. After exchanging the ticket for a wristband, the ticket loses its validity or value. With this wristband it is possible to enter the festival grounds several times. When reentering the festival site, the undamaged wristband with the original clasp must be presented; otherwise there is no entitlement to re-entry.</p>
        
        <h3>Liability</h3>
        <p>All visitors are liable for any damage they cause.</p>
        <p>Entering the festival grounds, the campground, the open spaces, forest areas, water and lake areas, bathing areas and premises etc. is at your own risk. The contractual and legal liability of the organizer for damages of any kind is excluded.</p>
        <p>This provision does not apply to property damage and financial loss caused by the organizer intentionally or through gross negligence, or to damage to life, limb or health caused by the organizer intentionally or through slight negligence.</p>
        <p>The organizer shall only be liable for property damage and financial loss caused by intent or slight negligence in the event of a breach of material contractual obligations. Essential contractual obligations are all obligations whose fulfillment is essential for the proper execution of the contract and on whose compliance the visitor may rely.</p>
        <p>The liability of the organizer, in the event of a breach of essential contractual obligations, is limited to compensation for foreseeable, typical damage. In this respect, the liability of the organizer for damages that are exclusively attributable to the visitor's sphere of risk is excluded. Any further liability is excluded.</p>
        <p>The above exclusions and limitations of liability also apply to the liability of the organizer for its organs, employees and vicarious agents as well as the personal liability of the organs, employees and vicarious agents of the organizer.</p>
        <p>The organizer is not liable for lost items or for damages and losses incurred by the visitor due to burglary, theft, fire, natural events or other occurrences.</p>
        <p>The visitor is aware that loud music can pose a risk to his/her health. The visitor must ensure that he/she exposes him/herself to sound to an extent that is beneficial to him/her. Direct proximity to loudspeakers must therefore be avoided. Appropriate barriers must be observed. Hearing protection (e.g. earplugs) is strongly recommended in the event area, especially near the stages. The organizer is only liable for hearing damage in cases where he or his vicarious agents are guilty of intent or gross negligence.</p>
        
        <h3>Weather influences</h3>
        <p>The event will take place in all weathers, as long as the organizer can take responsibility for the weather conditions. The organizer points out that visitors must bring clothing and footwear suitable for the weather. The event takes place on natural surfaces, which experience has shown to be uneven. Without appropriate footwear, injuries may occur. The organizer also points out that the accessibility of the areas intended for use by vehicles may be difficult/restricted due to the weather.</p>
        
        <h3>Cancellation/termination/postponement of the event</h3>
        <p>An event may be canceled. Information on this will be provided in good time on the website and via all channels. Please find out about this before you travel.</p>
        <p>If there is a risk to life, limb, health, technology and/or material due to special weather conditions, natural events or other circumstances for which the organizer is not responsible, the organizer is entitled to interrupt the event and, if necessary to avert danger, also to cancel. In this case, there are no claims for reimbursement of the admission price or compensation.</p>
        <p>In the event of interruption or cancellation of the event due to force majeure, restrictions due to the Covid-19 pandemic, in particular in the event of mutations of the corona virus, official order, court decision or for other reasons, as well as in the event of danger to visitors due to misconduct by others or the threat of escalation due to excessive crowds, there are no claims for reimbursement or damages, unless the organizer can be proven to have acted with intent or gross negligence.</p>
        <p>Force majeure exists in particular if it is an event that is beyond the control of the organizer. For example, force majeure exists in the event of war, civil war, war-like events, acts of terrorism, political unrest and/or the use of chemical, biological, biochemical substances and/or nuclear energy. Force majeure also exists in the event of pandemics, epidemics, epidemics or similar threats of disease and/or in the event of natural disasters (storms, hurricanes, earthquakes or floods etc.) or the consequences thereof. Furthermore, force majeure shall be deemed to exist in particular in the event of governmental, official or other public law interventions and measures such as orders, general decrees etc. for which the organizer is not responsible and which prevent the event from being held.</p>
        <p>Force majeure is to be assumed both when a corresponding event has occurred and when such an event is reasonably likely to occur at the time of the event. The assessment of whether such an event has occurred or is imminent shall be made by the organizer at its reasonable discretion, in particular taking into account the interests of the visitors.</p>
        <p>The organizer reserves the right to postpone the event in terms of location and time or to reschedule it in the event of cancellation, insofar as this is reasonable for the visitor. If the event is postponed or rescheduled in the event of cancellation or interruption, the admission tickets shall remain valid.</p>
        <p>If the event is completely canceled before the start without an alternative date for reasons for which the organizer is responsible, there is only a claim to reimbursement of the nominal value of the admission price (excluding fees and/or taxes). Personal arrangements made by the ticket holder, including travel and accommodation in connection with the event, are made at the ticket holder's own expense and risk. There is no further claim for compensation.</p>
        <p>Any further legal rights of the organizer (e.g. due to a law to mitigate the consequences of the COVID-19 pandemic in event contract law) remain unaffected in any case and continue to apply.</p>
        
        <h3>Security checks</h3>
        <p>When entering the festival grounds, security checks in the form of body and bag searches may be carried out by the security service for reasons of safety and order and to avoid waste.</p>
        <p>It is forbidden to bring prohibited items onto the festival site, which can be viewed in the T&Cs and in the house rules. Violation may result in denial of admission unless the guest is prepared to hand in the item(s) in question at the entrance control. The organizer is not obliged to store items for the guest.</p>
        <p>The organizer or the security service appointed by the organizer is entitled to inspect visitors on the entire festival site if there is reasonable suspicion that they are carrying unauthorized items.</p>
        
        <h3>Image and sound recordings</h3>
        <p>Only 35 mm cameras and cell phones with a camera function are permitted on the festival grounds. SLR cameras, cameras with zoom lenses or with video function of any kind are not permitted. Video cameras and audio recording devices of any kind, such as tape recorders, MP3 recorders and dictaphones, are also prohibited. The organizer may refuse the guest access to the festival grounds if the guest is not prepared to hand in the devices at the entrance. The organizer is under no obligation to store the items.</p>
        <p>Photography for private, non-commercial use with analog and digital 35 mm cameras without interchangeable lenses and with cell phone cameras is generally permitted.</p>
        <p>Sound and film recordings of any kind are prohibited without the explicit permission of the organizer or an artist.</p>
        <p>All rights to audio and video recordings of the event for the purpose of commercial exploitation belong exclusively to the organizer. No one may record, broadcast and/or make such recordings publicly accessible for commercial purposes without the prior written consent of the organizer. This includes in particular the distribution of such recordings directly via the Internet.</p>
        <p>Film and photo recordings will be made throughout the festival grounds. With the purchase of the admission ticket, the visitor consents to the making of recordings and the use of his/her image and voice free of charge for photographs, film and sound recordings, as well as commercial exploitation in all present and future media created by the organizer or persons commissioned by the organizer during the event on the festival grounds. This also includes, for example, the subsequent use on the website and in social media, in the program booklet for subsequent events, on flyers and posters and in press reports of the organizer.</p>
        
        <h3>Blocking / clearing of areas</h3>
        <p>The organizer reserves the right to temporarily restrict or completely deny access to areas of the festival site, such as stages, due to safety reasons or officially limited spectator capacities, e.g. due to overcrowding. This does not give rise to any claims for reimbursement or compensation, as it is not possible to plan visitor flows precisely.</p>
        
        <h3>Program changes</h3>
        <p>The organizer reserves the right to change the program. If individual artists are unable to perform or cancel their appearance, the organizer will make every effort to find a suitable replacement. Cancellations or changes will be announced by the organizer as early as possible and may also take place after the start of the festival for good cause. Changes during the festival will be announced on notices and via all known public communication channels. No claims of any kind can be derived from this on the part of the festival visitor, unless the organizer acts with gross negligence or intent.</p>
        
        <h3>Access restrictions</h3>
        <p>For safety reasons, the organizer may temporarily or completely clear and cordon off individual areas of the festival site (event area, camping and parking area) without this giving rise to a claim for partial reimbursement of the admission price. The instructions of the organizer in this regard or the instructions of the persons and companies commissioned by the organizer must be followed immediately in order to avert danger to life and limb.</p>
        
        <h3>Domestic authority</h3>
        <p>Climbing fences, light poles, temporary and permanent structures, electricity boxes, sanitary stations, mobile toilets and other infrastructure facilities is prohibited on the entire festival site. The usage and safety instructions for equipment and facilities must be observed. Regulations regarding other hazardous areas such as play equipment, swings, water areas etc. must be observed.</p>
        <p>During the event, waste must be disposed of in the garbage cans and containers provided for this purpose.
        </p>
        <p>
            The event site will be additionally secured mechanically or technically during the festival. Attempts to gain unauthorized access to the event site in any way whatsoever are prohibited. This also applies to the unauthorized import of items such as alcohol, tobacco products, weapons, drugs, etc. The organizer accepts no liability for any resulting injury to health, body and/or life. Violations will result in immediate exclusion from the event. Claims for damages are excluded. Legal action will be taken against any form of trespassing.
        </p>
        <p>
            For all disputes on a contractual or legal basis, Berlin is agreed as the place of jurisdiction - insofar as legally permissible; German law shall apply. Should a clause be invalid, this shall not affect the remaining clauses. The invalid clause shall be replaced by the statutory provision[1].
        </p>
        <p>
            This is the exact text as found in the file "AGBs-ger-en.docx"[1].

        </p>
        <p>
            Sources
            [1] AGBs-ger-en.docx https://ppl-ai-file-upload.s3.amazonaws.com/web/direct-files/10780679/2915f621-302c-449d-a9cb-377602e8c998/AGBs-ger-en.docx

        </p>





</div>