<div class="awareness">
<div class="home" routerLink="/home">
    [ HOME ]
</div>
<div class="awareness-title">
    AWARENESS
</div>
We create spaces that encourage self-reflection, emotional intelligence, and spiritual growth. Through workshops, guided meditations, and immersive art installations, we invite you to dive deep into your inner landscapes. This journey of self-discovery extends beyond personal boundaries, fostering a collective awareness of our interconnectedness with each other and the environment. By nurturing this heightened state of presence, we empower our community to carry these insights back into your daily lives, creating ripples of positive change. 
<br/><br/>
<div class="awareness-title">
    SUSTAINABILITY
</div>

We source as much locally as possible and involve the Djerban community where possible. Collaborating with the local communities to ensure our presence benefits the island’s ecosystem and economy is our aim. Our ‘Leave No Trace’ policy goes beyond merely cleaning up; we aim to leave Djerba better than we found it. Our vision is to create educational programs and emphasis hands-on conservation activities, we equip our attendees with practical skills and knowledge to become ambassadors for sustainability in their own communities, ensuring that the positive impact of RE:SET continues long after the last track fades.

</div>
