<div class="loading-overlay" *ngIf="!isLoaded()">
  <div class="loading-content">
    <img src="assets/images/logo.svg" alt="">
    <div class="spinner"></div>
    <div class="progress-bar">
      <div class="progress-fill" [style.width.%]="loadingProgress()"></div>
    </div>
    <p class="progress-text">{{ loadingProgress() }}%</p>
    <p class="status-message">video loading</p>
  </div>
</div>

<div id="intro" routerLink="home" [class.visible]="isLoaded()">
  <div class="djerba">
    <p>DJERBA, TUNISIA</p>
    <p>26 NOV - 02 DEC 2025</p>
  </div>
  <div class="bg"></div>
  <ng-lottie
  class="reset"
  [options]="resetInOptions"
  (animationCreated)="animationCreated($event)"
  />
  <ng-lottie
  *ngIf="currentAnimation() === 2"
  class="reset"
  [options]="resetLoopOptions"
  />

  <video 
    class="video"
    #introVideo
    muted
    loop
    playsinline
    webkit-playsinline
    preload="auto"
    >
    <source src="assets/videos/intro1.mp4" type="video/mp4">
</video>
</div>



